body{
    margin: 0px;
}

.signup-card{
    background: rgb(255, 255, 255);
    width: 34%;
    height: 79%;
    position: relative;    
    margin: auto 80px auto auto;
    
    
}



.signup-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 20%
}

.form-group{
    margin-bottom: 16px;
    position: relative;
    width: 80%;
}

#user-type-group{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form label{
    font-weight: 600;
    display: block;
    font-size: 12px;
    margin-bottom: 8px;
}

.form-field{
    display: block;
    height: 32px;
    width: 100%;
}

.sign-up{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/smoothie.jpeg");
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
}

.sign-in-header{
    width: 80%;
    padding: 48px 0 24px;
    text-align: center;
}

.sign-in-header h4{
    display: inline-block;
    margin: 0px;
    box-sizing: inherit;
    
}

.sign-in-container{
    margin: 16px 35px 16px;
    float: right;
}

#password-label{
    display: inline-block;
}
#password-img{
    float: right;
}
a{
    text-decoration-line: none;
    color: rgba(31, 189, 17);
}
#submit-btn{
    background: #1fbd11;
    text-decoration-line: none;
    border: none;
    border-radius: .8em;
    color: white;
    padding: .3em;
    text-align: center;
    text-decoration: none;
    width: 75%;
    cursor: pointer;
}

@media screen and (max-width: 600px) {

    .signup-card{
        width: 100%;
        margin: 0px;
        height: 100%;
    }

    
    
}
